<html layout:decorate="~{home/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:th="http://www.thymeleaf.org">
<body layout:fragment="content" style="background-color: rgb(196, 197, 197);">
  <div class="alert alert-danger text-center" role="alert" th:text="${message}" th:if="${message}"></div>
  <div class="container-fulid">
    <div class="row">
      <h2 class="col-6 text-center">HÓA ĐƠN</h2>
      <div class="col-6 text-center dropdown">
        <button class="btn  btn-outline-secondary dropdown-toggle position-relative" type="button"
          id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Hóa đơn chưa thanh toán <span
            class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
            th:text="${totalhdc}">
            <span class="visually-hidden">unread messages</span>
          </span>
          </span>
        </button>
        <ul th:if="${listhdc.size()==0}" class="dropdown-menu " aria-labelledby="dropdownMenuButton1"
          style="width: 500px;">
          <li class="mx-2">Không có hóa đơn chờ</li>
        </ul>
        <ul th:unless="${listhdc.size()==0}" class="dropdown-menu " aria-labelledby="dropdownMenuButton1"
          style="width: 500px;">
          <li th:each="hdc : ${listhdc}" class="mx-2"><a
              th:href="@{'/manager/createhoadon/waitingorder/' + ${hdc.hoaDon.id}}" th:text="${hdc.hoaDon?.ma}"></a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-6 product-section">
        <div class="container">
          <div style="background-color: rgb(224, 233, 233); width: 100%; height: 379px; overflow: auto;"
            class="rounded-3 p-3 order-product-detail">
            <div th:if="${listhdcChiTiets}" class="row d-flex justify-content-between align-items-center"
              th:each="hoadonchitiet : ${listhdcChiTiets}">
              <div class="col-md-2 col-lg-2 col-xl-2">
                <img th:src="@{'../../../assets/img/sanpham/'+${hoadonchitiet?.chiTietSanPham?.image}}"
                  class="img-fluid rounded-3">
              </div>
              <div class="col-md-2 col-lg-2 col-xl-2">
                <h6 class="text-black mb-0">Tên: <span th:text="${hoadonchitiet?.chiTietSanPham?.sanPham?.ten}"></span>
                </h6>
              </div>
              <div class="col-md-3 col-lg-2 col-xl-2">
                <h6 class="mb-0">Tổng: <span th:text="${hoadonchitiet.donGia}"></span>
                  Vnd</h6>
              </div>
              <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                <input class="quantityInput form-control form-control-sm" min="0" name="quantity" type="number"
                  th:value="${hoadonchitiet.soLuong}" th:attr="data-sanpham-id=${hoadonchitiet?.chiTietSanPham?.id}" />
              </div>
              <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                <a th:href="@{'/manager/createhoadon/removeproduct/' + ${hoadonchitiet?.chiTietSanPham?.id}}"
                  class="text-muted"><i class="fas fa-times"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 order-section">
        <form th:action="@{/manager/createhoadon/createorder}" th:object="${hoaDonRequest}" method="post">
          <div class="card bg-primary text-white rounded-3">
            <div class="card-body">
              <div class="d-flex justify-content-center align-items-center mb-4">
                <h5 class="mb-0 mt-3">Card details</h5>
              </div>
              <hr class="my-4">
              <div class="container">
                <div class="form-floating mb-3 text-dark mx-2">
                  <input type="text" class="form-control" id="floatingInput" th:field="*{tenNguoiNhan}">
                  <label for="floatingInput">Tên Người Nhận</label>
                  <div th:if="${#fields.hasErrors('tenNguoiNhan')}" class="errors text-danger form-text"
                    th:errors="*{tenNguoiNhan}"></div>
                </div>
                <div class="form-floating mb-3  text-dark mx-2">
                  <input type="text" class="form-control" id="floatingInput" th:field="*{diaChi}">
                  <label for="floatingInput">Địa Chỉ</label>
                  <div th:if="${#fields.hasErrors('diaChi')}" class="errors text-danger form-text"
                    th:errors="*{diaChi}"></div>
                </div>
                <div class="form-floating mb-3 text-dark mx-2">
                  <input type="text" class="form-control" id="floatingInput" th:field="*{sdt}">
                  <label for="floatingInput">Số điện thoại</label>
                  <div th:if="${#fields.hasErrors('sdt')}" class="errors text-danger form-text" th:errors="*{sdt}">
                  </div>
                </div>
                <div class="d-flex justify-content-between">
                  <button th:unless="${hoaDonRequest.id}" type="submit" class="btn btn-info btn-block btn-lg">
                    <div class="d-flex justify-content-between">
                      <span class="text-white">Tạo Hóa Đơn</span>
                    </div>
                  </button>
                  <div th:if="${hoaDonRequest.id}">
                    <button type="submit" class="btn btn-info btn-block btn-lg">
                      <div class="d-flex justify-content-between">
                        <span class="text-white">Update Thông tin</span>
                      </div>
                    </button>
                    <a th:href="@{/manager/createhoadon/new}" class="btn btn-info btn-block btn-lg">
                      <div class="d-flex justify-content-between">
                        <span class="text-white">New</span>
                      </div>
                    </a>
                  </div>
                  <a th:href="@{/manager/createhoadon/thanhtoanthanhcong}" class="btn btn-info btn-block btn-lg">
                    <div class="d-flex justify-content-between">
                      <span class="text-white">$<span th:text="${totalprice}" class="mx-2"></span></span>
                      <span class="text-white">Checkout<i class="fas fa-long-arrow-alt-right ms-2"></i></span>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="container-fluid rounded-3" style="background-color: aqua;">
      <div class="header reset-header pt-3 px-3">
        <div class="search-bar">
          <form class="search-form d-flex align-items-center" method="get" th:action="@{/manager/createhoadon/search}">
            <input type="text" placeholder="Search" th:value="${searchtxt}" name="searchtxt"
              title="Enter search keyword">
            <button type="submit" title="Search"><i class="bi bi-search"></i></button>
          </form>
        </div>
      </div><!-- End Search Bar -->
      <div style="max-height: 400px; overflow: auto;" class="p-3">
        <table class="table table-hover rounded-3 text-center" style="min-width: 1200px;">
          <thead>
            <tr>
              <th scope="col">Image</th>
              <th scope="col">Sản Phẩm<a th:href="@{/manager/createhoadon/sort(sortBy=sanPham.ten ,sortDir=true)}"><i
                    class="fa-solid fa-sort-up fa-xs"></i></i></a><a
                  th:href="@{/manager/createhoadon/sort(sortBy=sanPham.ten ,sortDir=false)}"><i
                    class="fa-solid fa-sort-down fa-xs"></i></a></th>
              <th scope="col">Nhà Sản Xuất<a th:href="@{/manager/createhoadon/sort(sortBy=nsx.ten ,sortDir=true)}"><i
                    class="fa-solid fa-sort-up fa-xs"></i></i></a><a
                  th:href="@{/manager/createhoadon/sort(sortBy=nsx.ten ,sortDir=false)}"><i
                    class="fa-solid fa-sort-down fa-xs"></i></a></th>
              <th scope="col">Màu Sắc<a th:href="@{/manager/createhoadon/sort(sortBy=mauSac.ten ,sortDir=true)}"><i
                    class="fa-solid fa-sort-up fa-xs"></i></i></a><a
                  th:href="@{/manager/createhoadon/sort(sortBy=mauSac.ten ,sortDir=false)}"><i
                    class="fa-solid fa-sort-down fa-xs"></i></a></th>
              <th scope="col">Dòng Sản Phẩm<a
                  th:href="@{/manager/createhoadon/sort(sortBy=dongSP.ten ,sortDir=true)}"><i
                    class="fa-solid fa-sort-up fa-xs"></i></i></a><a
                  th:href="@{/manager/createhoadon/sort(sortBy=dongSP.ten ,sortDir=false)}"><i
                    class="fa-solid fa-sort-down fa-xs"></i></a></th>
              <th scope="col">Năm Bảo Hành<a th:href="@{/manager/createhoadon/sort(sortBy=namBH ,sortDir=true)}"><i
                    class="fa-solid fa-sort-up fa-xs"></i></i></a><a
                  th:href="@{/manager/createhoadon/sort(sortBy=namBH ,sortDir=false)}"><i
                    class="fa-solid fa-sort-down fa-xs"></i></a></th>
              <th scope="col">Số Lượng Tồn<a th:href="@{/manager/createhoadon/sort(sortBy=soLuongTon ,sortDir=true)}"><i
                    class="fa-solid fa-sort-up fa-xs"></i></i></a><a
                  th:href="@{/manager/createhoadon/sort(sortBy=soLuongTon ,sortDir=false)}"><i
                    class="fa-solid fa-sort-down fa-xs"></i></a></th>
              <th scope="col">Giá Nhập<a th:href="@{/manager/createhoadon/sort(sortBy=giaNhap ,sortDir=true)}"><i
                    class="fa-solid fa-sort-up fa-xs"></i></i></a><a
                  th:href="@{/manager/createhoadon/sort(sortBy=giaNhap ,sortDir=false)}"><i
                    class="fa-solid fa-sort-down fa-xs"></i></a></th>
              <th scope="col">Giá Bán<a th:href="@{/manager/createhoadon/sort(sortBy=giaBan ,sortDir=true)}"><i
                    class="fa-solid fa-sort-up fa-xs"></i></i></a><a
                  th:href="@{/manager/createhoadon/sort(sortBy=giaBan ,sortDir=false)}"><i
                    class="fa-solid fa-sort-down fa-xs"></i></a></th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="chitietsanpham : ${list}">
              <td><img th:src="@{'../../../assets/img/sanpham/'+${chitietsanpham.image}}" alt="null" class="img-fluid"
                  style="height: 70px;"></td>
              <td th:text="${chitietsanpham?.sanPham?.ten}"></td>
              <td th:text="${chitietsanpham?.nsx?.ten}"></td>
              <td th:text="${chitietsanpham?.mauSac?.ten}"></td>
              <td th:text="${chitietsanpham?.dongSP?.ten}"></td>
              <td th:text="${chitietsanpham.namBH}"></td>
              <td th:text="${chitietsanpham.soLuongTon}"></td>
              <td th:text="${chitietsanpham.giaNhap}"></td>
              <td th:text="${chitietsanpham.giaBan}"></td>
              <td>
                <a th:href="@{'/manager/createhoadon/addproduct/' + ${chitietsanpham.id}}"
                  class="btn btn-success">Add</a>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="table-footer d-flex justify-content-between mt-3">
          <div class="text-start">This page is <span th:text="${crpage}"></span> of <span th:text="${totalpage}"></span>
          </div>
          <div class="text-center">
            <nav aria-label="Page navigation example">
              <ul class="pagination justify-content-center">
                <li class="page-item disabled" th:if="${crpage-1 < 1}">
                  <a class="page-link" th:href="@{/manager/createhoadon/page(pageno=${crpage-1})}" tabindex="-1"
                    aria-disabled="true"><i class="fas fa-chevron-left fa-sm"></i></a>
                </li>
                <li class="page-item" th:unless="${crpage-1 < 1}">
                  <a class="page-link" th:href="@{/manager/createhoadon/page(pageno=${crpage-1})}"><i
                      class="fas fa-chevron-left fa-sm"></i></a>
                </li>
                <th:block th:each="page : ${pagenumber}">
                  <li class="page-item" th:class="${crpage == page} ? 'page-item active' : 'page-item'">
                    <a class="page-link" th:href="@{/manager/createhoadon/page(pageno=${page})}" th:text="${page}"></a>
                  </li>
                </th:block>
                <li class="page-item disabled" th:if="${crpage == totalpage}">
                  <a class="page-link" th:href="@{/manager/createhoadon/page(pageno=${crpage+1})}" tabindex="-1"
                    aria-disabled="true"><i class="fas fa-chevron-right fa-sm"></i></a>
                </li>
                <li class="page-item" th:unless="${crpage == totalpage}">
                  <a class="page-link" th:href="@{/manager/createhoadon/page(pageno=${crpage+1})}"><i
                      class="fas fa-chevron-right fa-sm"></i></a>
                </li>
              </ul>
            </nav><!-- End Centered Pagination -->
          </div>
          <form action="#" class="mx-2" th:action="@{/manager/createhoadon/getcountrow}" method="get" id="rowCountForm">
            Number of rows
            <select name="selectedValue" class="border-0 px-2"
              onchange="document.getElementById('rowCountForm').submit();">
              <option value="10" th:selected="${rowcount == 10}">10</option>
              <option value="20" th:selected="${rowcount == 20}">20</option>
              <option value="50" th:selected="${rowcount == 50}">50</option>
            </select>
          </form>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script>
    var quantityInputs = document.getElementsByClassName("quantityInput");
    for (var i = 0; i < quantityInputs.length; i++) {
      (function () {
        var quantityInput = quantityInputs[i];
        var sanphamId = quantityInput.getAttribute("data-sanpham-id");

        quantityInput.addEventListener("change", function () {
          var newQuantity = this.value;
          // Use sanphamId and newQuantity in the AJAX request
          console.log(sanphamId);
          // Send an AJAX request to update the quantity in Spring
          var xhr = new XMLHttpRequest();
          xhr.open("POST", "/manager/createhoadon/updateQuantity?id=" + sanphamId + "&quantity=" + newQuantity, true);
          xhr.setRequestHeader("Content-Type", "application/json");
          xhr.onreadystatechange = function () {
            if (xhr.readyState === XMLHttpRequest.DONE) {
              if (xhr.status === 200) {
                // Quantity updated successfully
                console.log("Quantity updated successfully");
                location.reload();
              } else {
                // Error occurred while updating quantity
                console.log("Error occurred while updating quantity");
              }
            }
          };
          xhr.send();
        });
      })();
    }
  </script>
</body>

</html>