<html layout:decorate="~{home/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <title>create</title>
</head>


<body layout:fragment="content">

    <div class="container">
        <a href="/thatpee/manager/home" class="btn btn-primary">Manager</a>
        <!-- Form to store new cuahang -->
        <form th:action="@{/manager/sanpham/store}" th:object="${sanpham}" method="post" class="form">
            <input type="hidden" th:field="*{id}" />
            <div class="form-group">
                <label>Mã Sản Phẩm: </label>
                <input type="text"  class="form-control"  th:field="*{ma}" />
                <div th:if="${#fields.hasErrors('ma')}" class="errors text-danger form-text" th:errors="*{ma}"></div>
            </div>
            <div class="form-group">
                <label>Ten Sản Phẩm: </label>
                <input type="text"  class="form-control"  th:field="*{ten}" />
                <div th:if="${#fields.hasErrors('ten')}" class="errors text-danger form-text" th:errors="*{ten}"></div>
            </div>
            <input type="submit" value="Submit" class="btn btn-primary" />
        </form>
    </div>
</body>

</html>