<html layout:decorate="~{home/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Sản phẩm</title>
</head>
<body layout:fragment="content">

    <div class="container my-4">
        <a href="/thatpee/manager/home" class="btn btn-primary">Manager</a>
        <div class="text-lg-end">
            <form action="#" th:action="@{/manager/sanpham/getcountrow}" method="get">
                Number of rows
                <select name="selectedValue">
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="ALL">ALL</option>
                </select>
                <input type="submit" value="Submit">
            </form>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Mã Cửa Hàng <a th:href="@{/manager/sanpham/sort(sortBy=ma ,sortDir=asc)}"><i
                                class="fa-solid fa-sort-up fa-xs"></i></i></a><a
                            th:href="@{/manager/sanpham/sort(sortBy=ma ,sortDir=desc)}"><i
                                class="fa-solid fa-sort-down fa-xs"></i></a></th>
                    <th scope="col">Tên Cửa Hàng <a th:href="@{/manager/sanpham/sort(sortBy=ten ,sortDir=asc)}"><i
                                class="fa-solid fa-sort-up fa-xs"></i></i></a><a
                            th:href="@{/manager/sanpham/sort(sortBy=ten ,sortDir=desc)}"><i
                                class="fa-solid fa-sort-down fa-xs"></i></a></th>
                    <th scope="col">Funtion</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="sanpham : ${list}">
                <td th:text="${sanpham.ma}"></td>
                <td th:text="${sanpham.ten}"></td>
                <td>
                    <a th:href="@{/manager/sanpham/delete(id=${sanpham.id})}" class="btn btn-danger">Delete</a>
                    <a th:href="@{/manager/sanpham/edit(id=${sanpham.id})}" class="btn btn-success">Update</a>
                  </td>
            </tr>
        </tbody>
    </table>
    <div class="text-center">
        <a href="/manager/sanpham/first" class="btn btn-primary">first</a>
        <a href="/manager/sanpham/last" class="btn btn-primary">last</a>
        <tr th:each="page : ${pagenumber}">
            <a th:href="@{/manager/sanpham/page(pageno=${page})}" th:text="${page}"></a>
        </tr>
    </div>
    <a href="/manager/sanpham/create" class="btn btn-primary">New</a>
</div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
</body>
</html>