<html layout:decorate="~{home/layout}" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Cửa Hàng</title>
</head>

<body layout:fragment="content">
    <div class="container my-4">
        <div class="alert alert-danger text-center" role="alert" th:text="${message}" th:if="${message}"></div>
        <div class="text-lg-end">
            <div class="text-lg-end">
                <form action="#" th:action="@{/manager/chitietsanpham/getcountrow}" method="get">
                    Number of rows
                    <select name="selectedValue">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="ALL">ALL</option>
                    </select>
                    <input type="submit" value="Submit">
                </form>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Sản Phẩm<a
                                th:href="@{/manager/chitietsanpham/sort(sortBy=sanPham ,sortDir=asc)}"><i
                                    class="fa-solid fa-sort-up fa-xs"></i></i></a><a
                                th:href="@{/manager/chitietsanpham/sort(sortBy=sanPham ,sortDir=desc)}"><i
                                    class="fa-solid fa-sort-down fa-xs"></i></a></th>
                        <th scope="col">Nhà Sản Xuất<a
                                th:href="@{/manager/chitietsanpham/sort(sortBy=nsx ,sortDir=asc)}"><i
                                    class="fa-solid fa-sort-up fa-xs"></i></i></a><a
                                th:href="@{/manager/chitietsanpham/sort(sortBy=nsx ,sortDir=desc)}"><i
                                    class="fa-solid fa-sort-down fa-xs"></i></a></th>
                        <th scope="col">Màu Sắc<a
                                th:href="@{/manager/chitietsanpham/sort(sortBy=mauSac ,sortDir=asc)}"><i
                                    class="fa-solid fa-sort-up fa-xs"></i></i></a><a
                                th:href="@{/manager/chitietsanpham/sort(sortBy=mauSac ,sortDir=desc)}"><i
                                    class="fa-solid fa-sort-down fa-xs"></i></a></th>
                        <th scope="col">Dòng Sản Phẩm<a
                                th:href="@{/manager/chitietsanpham/sort(sortBy=dongSP ,sortDir=asc)}"><i
                                    class="fa-solid fa-sort-up fa-xs"></i></i></a><a
                                th:href="@{/manager/chitietsanpham/sort(sortBy=dongSP ,sortDir=desc)}"><i
                                    class="fa-solid fa-sort-down fa-xs"></i></a></th>
                        <th scope="col">Năm Bảo Hành<a
                                th:href="@{/manager/chitietsanpham/sort(sortBy=namBH ,sortDir=asc)}"><i
                                    class="fa-solid fa-sort-up fa-xs"></i></i></a><a
                                th:href="@{/manager/chitietsanpham/sort(sortBy=namBH ,sortDir=desc)}"><i
                                    class="fa-solid fa-sort-down fa-xs"></i></a></th>
                        <th scope="col">Số Lượng Tồn<a
                                th:href="@{/manager/chitietsanpham/sort(sortBy=soLuongTon ,sortDir=asc)}"><i
                                    class="fa-solid fa-sort-up fa-xs"></i></i></a><a
                                th:href="@{/manager/chitietsanpham/sort(sortBy=soLuongTon ,sortDir=desc)}"><i
                                    class="fa-solid fa-sort-down fa-xs"></i></a></th>
                        <th scope="col">Giá Nhập<a
                                th:href="@{/manager/chitietsanpham/sort(sortBy=giaNhap ,sortDir=asc)}"><i
                                    class="fa-solid fa-sort-up fa-xs"></i></i></a><a
                                th:href="@{/manager/chitietsanpham/sort(sortBy=giaNhap ,sortDir=desc)}"><i
                                    class="fa-solid fa-sort-down fa-xs"></i></a></th>
                        <th scope="col">Giá Bán<a
                                th:href="@{/manager/chitietsanpham/sort(sortBy=giaBan ,sortDir=asc)}"><i
                                    class="fa-solid fa-sort-up fa-xs"></i></i></a><a
                                th:href="@{/manager/chitietsanpham/sort(sortBy=giaBan ,sortDir=desc)}"><i
                                    class="fa-solid fa-sort-down fa-xs"></i></a></th>
                        <th scope="col">Image</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="chitietsanpham : ${list}">
                        <td th:text="${chitietsanpham?.sanPham?.ten}"></td>
                        <td th:text="${chitietsanpham?.nsx?.ten}"></td>
                        <td th:text="${chitietsanpham?.mauSac?.ten}"></td>
                        <td th:text="${chitietsanpham?.dongSP?.ten}"></td>
                        <td th:text="${chitietsanpham.namBH}"></td>
                        <td th:text="${chitietsanpham.soLuongTon}"></td>
                        <td th:text="${chitietsanpham.giaNhap}"></td>
                        <td th:text="${chitietsanpham.giaBan}"></td>
                        <td><img th:src="@{'../../../assets/img/sanpham/'+${chitietsanpham.image}}" alt="null"
                                style="width: 40px;height: auto;"></td>
                        <td>
                            <a th:href="@{/manager/chitietsanpham/delete(id=${chitietsanpham.id})}"
                                class="btn btn-danger">Delete</a>
                            <a th:href="@{/manager/chitietsanpham/edit(id=${chitietsanpham.id})}"
                                class="btn btn-success">Update</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div class="text-center">
                <a href="/manager/chitietsanpham/first" class="btn btn-primary">first</a>
                <a href="/manager/chitietsanpham/last" class="btn btn-primary">last</a>
                <tr th:each="page : ${pagenumber}">
                    <a th:href="@{/manager/chitietsanpham/page(pageno=${page})}" th:text="${page}"></a>
                </tr>
            </div>
            <a href="/manager/chitietsanpham/create" class="btn btn-primary">New</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
</body>

</html>